.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 30px;
  color: #f5a281;
}

.navbar-logo {
  font-size: 22px;
  font-weight: bold;
  /* width: 50px;
  height: 50px; */
  object-fit: cover;
  /* background-color: #ffd369; */
}
.navbar-logo img{
    width: 50px;
    height: 50px;
    background: transparent;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.navbar-links li {
  display: inline;
}

.navbar-links li a {
  text-decoration: none;
  color: rgb(0, 85, 182);
  font-size: 16px;
  transition: color 0.3s;
  font-size:large;

}

.navbar-links li a:hover {
  color: #f5a281;
}
